.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5cbcb;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}
.calendar .icon {
    font-size: 22px;
}

.control select {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    background-color: #f8f5f5;
    transition: 0.3s;
}

.control label {
    display: block;
    margin-bottom: 5px;
}

.control select {
    margin-bottom: 10px;
}

.action {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.action button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.action .button {
    background-color: var(--primary);
    color: #fff;
    font-weight: bold;

}
.action .button:hover {
    background-color: var(--primary-alt);
}
.action .button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    border-color: #ccc;
    color: #000;
}
.action .button--alt {
    background-color: transparent;
    border: 1px solid var(--primary-alt);
    font-weight: bold;
}
.action .button--alt:hover {
    background-color: var(--primary-alt);
    color: #fff;
}