.droplist {
    width: 120px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1;
    box-shadow: 1px 3px 8px rgb(0 0 0 / 25%);
}
.droplist li {
    transition: 0.3s;
    font-size: 13px;
    padding: 10px; 
    cursor: pointer;
}
.droplist li:hover {
    background-color: #bebebe;
}